nav{
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0 0 10px 0 rgb(0, 0, 0, 0.2);
}

nav svg{
  width: 25px;
  height: 25px;
  cursor: pointer;
}

nav svg:hover{
  color: var(--col1);
}

nav img{
  width: 10%;
}

nav .section1{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav .right {
  width: 30%; /* Adjust the width as needed */
  display: flex;
  gap: 10px;
  justify-content: space-around;
  align-items: center;
}

nav .section1 .group {
  width: 50%; /* Adjust the width as needed */
  display: flex;
  padding: 5px;
  border: none;
  filter: drop-shadow(7px 3px 3px gray);
  border-radius: 5px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

nav .group input{
  border: none;
  outline: none;
  width: 100%;
  padding: 10px; /* Adjust the padding as needed */
  border-radius: 5px; /* Match the border-radius of the .group */
  font-size: 16px; /* Adjust the font size as needed */
}



nav .cart{
  position: relative;
  margin: 0px 20px;
}

nav .cart .qty{
  background-color: var(--col1);
  color: white;
  border-radius: 50%;
  position: absolute;
  width: 25px;
  height: 25px;
  top: -15px;
  right: -15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  text-align: center;
}

nav .section2{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  gap: 3%;
}

nav .section2 a{
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-weight: 500;
}
